# Date+Time Basics

**Inhalt:** Mit Zeit-Datentyp umgehen

**Nötige Skills:** Erste Schritte mit Pandas

**Lernziele:**
- Text in Zeit konvertieren
- Zeit in Text konvertieren
- Zeit-Informationen extrahieren
- Einfache Zeit-Operationen

## Libraries

In [1]:
import pandas as pd

In [2]:
from datetime import datetime

In [3]:
from datetime import timedelta

## Zeitformat Codes

Extrakt, die volle Liste: http://strftime.org/. Diese Format-Codes brauchen wir, um mit Daten zu arbeiten.

| Code | Description | *Example* |
|--------|---------|--------|
| **`%a`** | Weekday as locale’s abbreviated name. | *Mon* |
| **`%A`** | Weekday as locale’s full name. | *Monday* |
| **`%d`** | Day of the month as a zero-padded decimal number. | *30* |
| **`%-d`** | Day of the month as a decimal number. (Platform specific) | *30* |
| **`%b`** | Month as locale’s abbreviated name. | *Sep* |
| **`%B`** | Month as locale’s full name. | *September* |
| **`%m`** | Month as a zero-padded decimal number. | *09* |
| **`%-m`** | Month as a decimal number. (Platform specific) | *9* |
| **`%y`** | Year without century as a zero-padded decimal number. | *13* |
| **`%Y`** | Year with century as a decimal number. | *2013* |
| **`%H`** | Hour (24-hour clock) as a zero-padded decimal number. | *07* |
| **`%-H`** | Hour (24-hour clock) as a decimal number. (Platform specific) | *7* |
| **`%I`** |	Hour (12-hour clock) as a zero-padded decimal number. 	| *07* |
| **`%-I`** |	Hour (12-hour clock) as a decimal number. (Platform specific) 	| *7* |
| **`%p`** |	Locale’s equivalent of either AM or PM. 	| *AM* |
| **`%M`** | Minute as a zero-padded decimal number. | *06* |
| **`%-M`** | Minute as a decimal number. (Platform specific) | *6* |
| **`%S`** | Second as a zero-padded decimal number. | *05* |
| **`%-S`** | Second as a decimal number. (Platform specific) | *5* |
| **`%j`** | Day of the year as a zero-padded decimal number. | *273* |
| **`%-j`** | Day of the year as a decimal number. (Platform specific) | *273* |
| **`%U`** | Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. | *39* |
| **`%W`** | Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0. | *39* |
| **`%c`** | Locale’s appropriate date and time representation. | *Mon Sep 30 07:06:05 2013* |
| **`%x`** | Locale’s appropriate date representation. | *09/30/13* |
| **`%X`** | Locale’s appropriate time representation. | *07:06:05* |
| **`%%`** | A literal '%' character. | *%*

## Text to Time

Eine häufige Situation, wenn man von irgendwo Daten importiert:
- Wir haben einen bestimmten String, zB: "1981-08-23"
- Wir wollen den String in ein Datetime-Objekt verwandeln, um sie zu analysieren
- Dazu benutzen wir die Pandas-Funktion `to_datetime()`

In [6]:
my_birthday_date = pd.to_datetime('1981-08-23', format='%Y-%m-%d')

Das Ergebnis wird uns als "Timestamp" angezeigt.

In [7]:
my_birthday_date

Timestamp('1981-08-23 00:00:00')

Die Funktion erkennt einige Standardformate automatisch

In [8]:
my_date = pd.to_datetime('1981-08-23 08:15:25')

In [9]:
my_date

Timestamp('1981-08-23 08:15:25')

**Platz** zum ausprobieren. Kreiere ein Datetime-Objekt aus folgenden Strings:

In [10]:
# Beispiel: '23.08.1981'
my_date = pd.to_datetime('23.08.1981', format='%d.%m.%Y')
my_date

Timestamp('1981-08-23 00:00:00')

In [16]:
# Do it yourself: 'Aug 23, 1981'
my_date2 = pd.to_datetime('Aug 25, 1983', format="%b %d, %Y")
my_date2

Timestamp('1983-08-25 00:00:00')

In [18]:
# '18.01.2016, 18:25 Uhr'
my_date3 = pd.to_datetime('18.01.2016, 18:25 Uhr', format = "%d.%m.%Y, %H:%M Uhr")
my_date3

Timestamp('2016-01-18 18:25:00')

In [51]:
# '5. May 2014'
my_date4 = pd.to_datetime('5. May 2014', format = "%d. %b %Y")
my_date4

Timestamp('2014-05-05 00:00:00')

In [29]:
!pip install dateparser

Collecting dateparser
  Downloading https://files.pythonhosted.org/packages/82/9d/51126ac615bbc4418478d725a5fa1a0f112059f6f111e4b48cfbe17ef9d0/dateparser-0.7.2-py2.py3-none-any.whl (352kB)
     |████████████████████████████████| 358kB 1.2MB/s eta 0:00:01
Requirement already satisfied: pytz in /Users/Datenjournalismus/.virtualenvs/erstesVE/lib/python3.7/site-packages (from dateparser) (2019.2)
Requirement already satisfied: python-dateutil in /Users/Datenjournalismus/.virtualenvs/erstesVE/lib/python3.7/site-packages (from dateparser) (2.8.0)
Requirement already satisfied: tzlocal in /Users/Datenjournalismus/.virtualenvs/erstesVE/lib/python3.7/site-packages (from dateparser) (1.5.1)
Collecting regex (from dateparser)
  Downloading https://files.pythonhosted.org/packages/6f/a6/99eeb5904ab763db87af4bd71d9b1dfdd9792681240657a4c0a599c10a81/regex-2019.08.19.tar.gz (654kB)
     |████████████████████████████████| 655kB 3.4MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Users/Datenjournalismus/.virtualenvs/erstesVE/lib/python3.7/site-packages (from python-dateutil->dateparser) (1.12.0)
Building wheels for collected packages: regex
  Building wheel for regex (setup.py) ... done
  Created wheel for regex: filename=regex-2019.8.19-cp37-cp37m-macosx_10_14_x86_64.whl size=291833 sha256=25f2e267dfea46e560f9c08a5dbeaa296188e057cb82abd7d77274c26c117c67
  Stored in directory: /Users/Datenjournalismus/Library/Caches/pip/wheels/90/04/07/b5010fb816721eb3d6dd64ed5cc8111ca23f97fdab8619b5be
Successfully built regex
Installing collected packages: regex, dateparser
Successfully installed dateparser-0.7.2 regex-2019.8.19

In [40]:
# '5. Mai 2014'
# zuerst: !pip install dateparser
import dateparser
my_date = dateparser.parse('5. Mai 2014')
my_date = pd.to_datetime(my_date, format = "(%Y, %m, %d, %h, %m)")
my_date

Timestamp('2014-05-05 00:00:00')

## Time to Text

Brauchen wir typischerweise bei der Anzeige oder beim Export von DAten
- Wir haben bereits ein Datetime-Objekt erstellt 
- jetzt wollen wir es nach einem bestimmten Schema anzeigen
- dafür dient die Funktion `strftime()`, die jedes Datetime-Objekt hat

Das Datums-Ojbekt haben wir bereits:

In [43]:
my_date = pd.to_datetime('1981-08-23 08:15:25')

Als Text:

In [44]:
my_text = my_date.strftime(format='%Y-%m-%d')

In [45]:
my_text

'1981-08-23'

**Quiz**: Lass `strftime()` den folgenden Text ausgeben:

In [46]:
# Beispiel: 'Aug 23, 1981'
my_text = my_date.strftime(format='%b %d, %Y')
my_text

'Aug 23, 1981'

In [53]:
# Do it yourself: #'23.8.81, 08:15:25'
my_text2 = my_date.strftime(format="%-d.%-m.%y, %H:%M:%S")
my_text2

'23.8.81, 08:15:25'

In [77]:
# 'Sunday, 23. of August 1981, 8:15 AM'
my_text3 = my_date.strftime(format="%A, %d. of %B %Y, %-I:%M %p")
my_text3

'Sunday, 23. of August 1981, 8:15 AM'

## Time properties

`strftime()` ist nicht die einzige Möglichkeit, Daten als Text anzuzeigen.

Wir können auch direkt einzelne Eigenschaften eines Datetime-Objekts abfragen.

Taken from https://pandas.pydata.org/pandas-docs/stable/timeseries.html

| Property | Description |
|----------|------------|
| **`.year`** | - The year of the datetime |
| **`.month`** | - The month of the datetime |
| **`.day`** | - The days of the datetime |
| **`.hour`** | - The hour of the datetime |
| **`.minute`** | - The minutes of the datetime |
| **`.second`** | - The seconds of the datetime |
| **`.microsecond`** | - The microseconds of the datetime |
| **`.nanosecond`** | - The nanoseconds of the datetime |
| **`.date`** | - Returns datetime.date (does not contain timezone information) |
| **`.time`** | - Returns datetime.time (does not contain timezone information) |
| **`.dayofyear`** | - The ordinal day of year |
| **`.weekofyear`** | - The week ordinal of the year |
| **`.week`** | - The week ordinal of the year |
| **`.dayofweek`** | - The number of the day of the week with Monday=0, Sunday=6 |
| **`.weekday`** | - The number of the day of the week with Monday=0, Sunday=6 |
| **`.weekday_name`** | - The name of the day in a week (ex: Friday) |
| **`.quarter`** | - Quarter of the date: Jan-Mar = 1, Apr-Jun = 2, etc. |
| **`.days_in_month`** | - The number of days in the month of the datetime |
| **`.is_month_start`** | - Logical indicating if first day of month (defined by frequency) |
| **`.is_month_end`** | - Logical indicating if last day of month (defined by frequency) |
| **`.is_quarter_start`** | - Logical indicating if first day of quarter (defined by frequency) |
| **`.is_quarter_end`** | - Logical indicating if last day of quarter (defined by frequency) |
| **`.is_year_start`** | - Logical indicating if first day of year (defined by frequency) |
| **`.is_year_end`** | - Logical indicating if last day of year (defined by frequency) |
| **`.is_leap_year`** | - Logical indicating if the date belongs to a leap year |

Das funktioniert dann ganz einfach:

In [78]:
my_date.year

1981

In [79]:
my_date.day

23

In [80]:
my_date.is_month_start

False

**Quiz**:

In [81]:
# In welcher Jahreswoche liegt unser Datum `my_date`?
my_date.weekofyear

34

In [82]:
# Um was für einen Wochentag handelt es sich (Zahl)?
my_date.dayofweek

6

In [83]:
#ists ein Schaltjahr?
my_date.is_leap_year

False

In [84]:
#in welchem Quartal?
my_date.quarter

3

## Zeitintervalle

"Timedelta" ist ein spezieller Datentyp, der kein Datum, sondern einen Zeitintervall modelliert.

Wir können diesen Datentyp z.B. für Vergleiche zwischen zwei Daten brauchen.

Die folgenden Intervalle stehen uns dabei zur Verfügung:

**`weeks`** - Wochen

**`days`** - Tage

**`hours`** - Stunden

**`minutes`** - Minuten

**`seconds`** - Sekunden

**`microseconds`** - Mikrosekunden

Ein Intervall erstellen wir mit der Funktion `timedelta()`

In [85]:
d = timedelta(days=2)
d

datetime.timedelta(days=2)

In [86]:
d = timedelta(hours=1)
d

datetime.timedelta(seconds=3600)

Wir können die Argumente beliebig kombinieren

In [89]:
d = timedelta(days=3, hours=10, minutes=25, seconds=10)
d

datetime.timedelta(days=3, seconds=37510)

Wir können ein Zeitintervall zu einem Datetime-Objekt addieren oder subtrahieren:

In [90]:
my_date + d

Timestamp('1981-08-26 19:40:35')

In [91]:
my_date - d

Timestamp('1981-08-19 22:50:15')

Ein Timedelta erhalten wir auch, wenn wir die Differenz von zwei Daten bilden:

In [92]:
my_date_1 = pd.to_datetime('1981-08-23', format='%Y-%m-%d')
my_date_2 = pd.to_datetime('1981-08-25', format='%Y-%m-%d')
d = my_date_2 - my_date_1

In [93]:
d

Timedelta('2 days 00:00:00')

Die Info erhalten wir wiederum, indem wir die Eigenschaft abfragen:

In [94]:
d.days

2

**Quiz:** Wie viele Tage liegen zwischen folgenden Daten?

In [104]:
my_string_1 = '2001/09/11'
my_string_2 = '2016/11/09'
my_date1 = pd.to_datetime(my_string_1, format="%Y/%m/%d")
my_date2 = pd.to_datetime(my_string_2, format="%Y/%m/%d")
d = my_date1 - my_date2
d.days

-5538

In [98]:
#Antwort
my_date_1 = pd_to.datetime(my_string_1, format='%Y/%m/%d')
my_date_2 = pd_to.datetime(my_string_2, format='%Y/%m/%d')
d = my_date_2 - my_date_1
d.days

NameError: name 'pd_to' is not defined

**Quiz:** Ich werde ab dem 1. Januar 2019 um 0:00 Uhr während 685648 Sekunden keinen Alkohol trinken. An welchem Datum greife ich wieder zum Glas?

In [ ]:
#Antwort

## Hier und Jetzt

Last but not least: eine Funktion, die uns das aktuelle Datum samt Zeit angibt:

In [ ]:
jetzt = datetime.today()

In [ ]:
jetzt

Wir können dieses Datum wie jedes andere Datum auch anzeigen:

In [ ]:
jetzt.strftime(format='%Y-%m-%d: %H:%M:%S')

Wir können auch damit herumrechnen:

In [ ]:
d = timedelta(days=1)

In [ ]:
(jetzt - d).strftime(format='%Y-%m-%d: %H:%M:%S')